.noise-overlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  pointer-events: none;
  opacity: 0.03;
  background-image: url("/noise.svg");
  background-repeat: repeat;
  background-size: 200px 200px;
}
