@import "tailwindcss";
@import "./themes/linear-modern/styles/theme.css";
@import "./themes/linear-modern/styles/animations.css";
@import "./themes/linear-modern/styles/noise.css";
@import "./themes/linear-modern/styles/grid.css";
@import "./themes/terminal/styles/theme.css";
@import "./themes/terminal/styles/animations.css";
@import "./themes/terminal/styles/scanlines.css";
@import "./themes/kinetic/styles/theme.css";
@import "./themes/kinetic/styles/animations.css";
@import "./themes/kinetic/styles/noise.css";
@import "./themes/art-deco/styles/theme.css";
@import "./themes/art-deco/styles/animations.css";
@import "./themes/art-deco/styles/crosshatch.css";
@import "./themes/bold-typography/styles/theme.css";
@import "./themes/bold-typography/styles/animations.css";
@import "./themes/bold-typography/styles/noise.css";
@import "./themes/cyberpunk/styles/theme.css";
@import "./themes/cyberpunk/styles/animations.css";
@import "./themes/cyberpunk/styles/scanlines.css";
@import "./themes/cyberpunk/styles/circuit.css";
@import "./themes/simple-dark/styles/theme.css";
@import "./themes/simple-dark/styles/animations.css";
@import "./themes/simple-dark/styles/noise.css";
