@import "tailwindcss";
@import "./themes/linear-modern/styles/theme.css";
@import "./themes/linear-modern/styles/animations.css";
@import "./themes/linear-modern/styles/noise.css";
@import "./themes/linear-modern/styles/grid.css";
@import "./themes/terminal/styles/theme.css";
@import "./themes/terminal/styles/animations.css";
@import "./themes/terminal/styles/scanlines.css";
@import "./themes/kinetic/styles/theme.css";
@import "./themes/kinetic/styles/animations.css";
@import "./themes/kinetic/styles/noise.css";
@import "./themes/art-deco/styles/theme.css";
@import "./themes/art-deco/styles/animations.css";
@import "./themes/art-deco/styles/crosshatch.css";
@import "./themes/bold-typography/styles/theme.css";
@import "./themes/bold-typography/styles/animations.css";
@import "./themes/bold-typography/styles/noise.css";
@import "./themes/cyberpunk/styles/theme.css";
@import "./themes/cyberpunk/styles/animations.css";
@import "./themes/cyberpunk/styles/scanlines.css";
@import "./themes/cyberpunk/styles/circuit.css";
@import "./themes/vaporwave/styles/theme.css";
@import "./themes/vaporwave/styles/animations.css";
@import "./themes/vaporwave/styles/scanlines.css";
@import "./themes/vaporwave/styles/grid.css";
@import "./themes/crypto/styles/theme.css";
@import "./themes/crypto/styles/animations.css";
@import "./themes/crypto/styles/grid.css";
@import "./themes/simple-dark/styles/theme.css";
@import "./themes/simple-dark/styles/animations.css";
@import "./themes/simple-dark/styles/noise.css";
@import "./themes/playful-geometric/styles/theme.css";
@import "./themes/playful-geometric/styles/animations.css";
@import "./themes/playful-geometric/styles/dots.css";
@import "./themes/clay/styles/theme.css";
@import "./themes/clay/styles/animations.css";
@import "./themes/academia/styles/theme.css";
@import "./themes/academia/styles/animations.css";
@import "./themes/academia/styles/texture.css";
@import "./themes/business-style/styles/theme.css";
@import "./themes/business-style/styles/animations.css";
@import "./themes/business-style/styles/paper-texture.css";
